__pycache__/
*.pyc
*.pyo
*.pyd

# virtual envs
.venv/
.surveyCatalyst_venv/

# release artifacts
zip/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# logs
*.log
logs/

# postgres runtime data (live cluster)
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual envs
.venv/
.surveyCatalyst_venv/

# release artifacts
zip/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# logs
*.log
logs/

# POSTGRES
postgres/
!postgres/README.md
!postgres/version_manifest.json
!postgres/runtime_layout.txt

# optional temp/downloads
downloads/

#data
data_workspace/
workspace/

#mapping
.cache/
*.mvt

#service
runtime/