__pycache__/
*.pyc
*.pyo
*.pyd

# virtual envs
.venv/
.surveyCatalyst_venv/
.locus_venandi_venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# logs
*.log

# postgres (local runtime later)
postgres/data/